// В этом файле должны быть стили для БЭМ-блока rules, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.rules {

  $block-name:                &; // #{$block-name}__element

  @include row;
  margin-left: 10px;
  margin-right: 10px;

  &__item {
    @include col();
    @include col(lg, 3);
    text-align: center;
    padding-top: 60px;
    padding-left: 35px !important;
    padding-right: 35px !important;
    padding-bottom: 115px;
    border-left: 1px solid #dedede;
    border-top: 1px solid #dedede;

    &:last-child {
      border-right: 1px solid #dedede;
    }
  }

  &__num {
    color: $color-main;
    font-size: 100px;
    font-weight: 300;
    line-height: 1;
    margin-bottom: 15px;
  }

  &__title {
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1.4;
    margin-bottom: 15px;
  }

  &__caption {
    font-size: 16px;
    line-height: 1.6;
  }

  @media (max-width: $screen-lg) {

    margin: 0;

    &__item {
      border-right: 1px solid #dedede;
      padding: 30px 15px;
    }
  }
}
