// В этом файле должны быть стили для БЭМ-блока wialon, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.wialon {

  $block-name:                &; // #{$block-name}__element
  @include row;

  &__col-form {
    @include col();
    @include col(md, 6);
  }

  &__col-caption {
    @include col();
    @include col(md, 6);

    p {
      font-size: 24px;
      font-weight: 300;
      line-height: 1.7;
      margin-top: 0.2em;
      margin-bottom: 1.6em;
    }
  }

  &__form-wrap {
    background: #c3ecff;
    text-align: center;
    padding: 2em;

    h2 {
      margin-top: 0;
    }
  }

  &__caption-wrap {
    padding: 1em;
  }

  &__auth-form {
    max-width: 255px;
    margin: auto;

    .field-text__input {
      border-color: #98c3d7;
      color: #6fa0b7;
      background: transparent;

      &::placeholder {
        color: #6fa0b7;
      }
    }

    .btn {
      width: 100%;
    }
  }

  @media (max-width: $screen-lg) {

        &__col-caption {

          p {
            font-size: 18px;
          }
        }
  }

  @media (max-width: $screen-md) {

    &__col-caption {

      p {
        font-size: 16px;
      }
    }
  }
}
