// В этом файле должны быть стили для БЭМ-блока catalog-card, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.catalog-card {

  $block-name:                &; // #{$block-name}__element

  margin-bottom: 30px;

  &__link {
    text-decoration: none;
    color: inherit;

    &:hover,
    &:focus {
      color: #c713a1;

      #{$block-name}__image {
        border-color: #c713a1;
      }
    }
  }

  &__image {
    border: 1px solid #e7e7e7;
    margin-bottom: 20px;
  }
}
