// В этом файле должны быть стили для БЭМ-блока team, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.team {

  $block-name:                &; // #{$block-name}__element

  @include row;

  &__card {

    @include col(lg, 3);
    @include col(md, 4);
    @include col(sm, 6);
    margin-bottom: 35px;

    &:hover,
    &:focus {

      color: #aa1d8d;

      #{$block-name}__card-name {
        color: #aa1d8d;
      }

      #{$block-name}__card-image {
        border: 3px solid #aa1d8d;
      }
    }
  }

  &__card-image {
    border: 3px solid #e7e7e7;

    img {
      display: block;
    }
  }

  &__card-link {
    display: block;
  }

  &__card-name {
    color: $color-main;
    font-size: 18px;
    font-weight: 400;
    margin-top: 1em;
    margin-bottom: 0.6em;
  }

  &__card-info {
    line-height: 1.4;
  }
}
