// В этом файле должны быть стили для БЭМ-блока dir-card, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.dir-card {

  $block-name:                &; // #{$block-name}__element

  margin-bottom: 20px;
  text-align: center;
  line-height: 1.2;

  &__link {
    padding: 60px;
    min-height: 100%;
    color: #fff;
    text-decoration: none;
    display: block;
    position: relative;
    background-size: cover;
    &:before {
      content: "";
      background: rgba(0, 0, 0, 0.4);
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      transition: all $transition-time;
    }

    &:hover,
    &:focus {
      color: #fff;

      &:before {
        box-shadow: 0px 5px 15px 0px rgba(77, 102, 131, 0.5);
        background: #6ac1e8;
      }
      #{$block-name}__icon {
        fill: #fff;
      }
      #{$block-name}__more {
        opacity: 1;
      }
    }
  }

  &__body {
    position: relative;
    z-index: 2;
  }

  &__icon {
    fill: $color-main;
    transition: all $transition-time;
    margin-bottom: 10px;
  }

  &__title {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 0.5em;
  }

  &__caption {
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 20px;
  }

  &__more {
    text-transform: uppercase;
    font-weight: 700;
    border-bottom: 2px solid #fff;
    padding: 5px 10px;
    display: inline-block;
    opacity: 0;
    transition: all $transition-time;
  }

  @media (max-width: $screen-xl) {

    &__link {
      padding: 8% 5%;
    }
  }

  @media (max-width: $screen-lg) {

    &__title {
      font-size: 24px;
    }
  }

}
