// В этом файле должны быть стили для БЭМ-блока contacts-part, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.contacts-part {

  $block-name:                &; // #{$block-name}__element

  margin-bottom: 20px;

  p {
    margin-top: 0.3em;
    margin-bottom: 0.3em;
  }

}
