// В этом файле должны быть стили для БЭМ-блока page-title, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.page-title {

  $block-name:                &; // #{$block-name}__element

  color: #0587c2;
  font-size: 48px;
  font-weight: 300;
  margin-top: 0.5em;
  margin-bottom: 0.8em;
  line-height: 1.1;

  @media (max-width: $screen-lg) {
    font-size: 32px;
  }

  @media (max-width: $screen-md) {
    font-size: 24px;
  }
}
