// В этом файле должны быть стили для БЭМ-блока res-card, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.res-card {

  $block-name:                &; // #{$block-name}__element

  margin-bottom: 20px;
  line-height: 1.2;
  min-width: 280px;

  &__link {
    color: #fff;
    background: #6ac1e8;
    text-decoration: none;
    display: block;
    padding: 20px;
    min-height: 100%;
    color: #fff;
    position: relative;
    background-size: cover;

    &:before {

      content: "";
      background: rgba(0, 0, 0, 0.4);
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      transition: all $transition-time;
    }

    &:hover,
    &:focus {
      color: #fff;

      &:before {
        background: #6ac1e8;
      }
      #{$block-name}__icon {
        fill: #fff;
      }
      #{$block-name}__more {
        opacity: 1;
      }
    }
  }

  &__body {
    position: relative;
    z-index: 2;
  }

  &__logo {
    width: 100%;
    height: 140px;

    img {
      float: right;
    }
  }

  &__title {
    font-size: 60px;
    font-weight: 400;
    line-height: 1;
  }

  &__caption {
    font-size: 20px;
    font-weight: 300;
    line-height: 1;
  }

  @media (max-width: $screen-md) {
    &__logo {
      height: auto;
      margin-bottom: 15px;
      text-align: right;
      img {
        float: none;
        max-width: 140px;
      }
    }

    &__title {
      font-size: 34px;
      margin-bottom: 15px;
    }

    &__caption {
      font-size: 14px;
      line-height: 1.4;
    }
  }
}
